<div id="header">

  <img src="../../assets/logo3.png" alt="Apteka Cosmedic - Pharmaceutical Company" />

  <div id="utilities">

    <div class="utility">
      <a routerLink="#">
        <svg class="bi bi-person" width="2em" height="2em" viewBox="0 0 16 16" fill="#808080"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z"
            clip-rule="evenodd" />
        </svg>
      </a>
      <span>Zaloguj się</span>
    </div>

    <div class="utility">
      <a routerLink="#">
        <svg class="bi bi-heart" width="2em" height="2em" viewBox="0 0 16 16" fill="#808080"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z"
            clip-rule="evenodd" />
        </svg>
      </a>
      <span>Ulubione (0)</span>
    </div>

    <div class="utility">
      <a routerLink="#">
        <svg class="bi bi-bucket" width="2em" height="2em" viewBox="0 0 16 16" fill="#808080"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 1.5A4.5 4.5 0 003.5 6h-1a5.5 5.5 0 1111 0h-1A4.5 4.5 0 008 1.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M1.61 5.687A.5.5 0 012 5.5h12a.5.5 0 01.488.608l-1.826 8.217a1.5 1.5 0 01-1.464 1.175H4.802a1.5 1.5 0 01-1.464-1.175L1.512 6.108a.5.5 0 01.098-.42zm1.013.813l1.691 7.608a.5.5 0 00.488.392h6.396a.5.5 0 00.488-.392l1.69-7.608H2.624z"
            clip-rule="evenodd" />
        </svg>
      </a>
      <span>0 szt. w koszyku</span>
      <span id="total">56,35 zł</span>
    </div>

  </div>


  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="navbar-nav-svg" viewBox="0 0 512 416.32"
    role="img">
    <title>Twitter</title>
    <path fill="currentColor"
      d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92">
    </path>
  </svg> -->


</div>
