#header {
  max-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    max-height: 200px;
  }

  #utilities {
    height: 150px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .utility {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;

      a {
        text-decoration: none;
        color: darkgray;
        font-weight: 400;
      }

      span {
        margin-left: 10px;
        margin-right: 10px;
      }

      #total {
        font-weight: 500;
      }

    }

  }

}
