<nav class="navbar navbar-expand-md navbar-light bg-light" >

  <a class="navbar-brand" routerLink="/home">{{appName}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Aktualności</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">Artykuły</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/medicines">Leki</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/shops">Sklepy</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Kontakt</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Wyszukaj..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 material-icons" type="submit">
        search
      </button>
    </form>
  </div>

</nav>
