<div class="content">

  <h1>BĄDŹ Z NAMI NA BIEŻĄCO</h1>

  <p> Zapisz się do subskrybcji, aby być informowanym na bieżąco o najnowszych artykułach z medycznego świata, nowych
    lekach w naszej aptece, promocjach na produkty i wiele, wiele więcej!</p>

  <p>Wpisz swój email, by dołączyć do grona subskrybentów:</p>

  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="twojanazwa@email.com">

  <p style="margin-top: 15px">Nie zapomnij zaakceptować subskrybcji w ciągu 24 godzin, <br> aby otrzymywać treści!</p>

</div>
