.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .left-side {
    width: 70%;
    margin-left: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .recently-viewed {
      margin-top: 20px;
    }

  }

  .right-side {
    width: 30%;
    margin-right: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

}
