<div class="content">

  <div class="left-side">

    <div class="carousel">
      <app-carousel></app-carousel>
    </div>

    <div class="recently-viewed">
      <app-recently-viewed></app-recently-viewed>
    </div>

    <div class="new-products">
      <app-new-products></app-new-products>
    </div>

  </div>

  <div class="right-side">

    <div class="most-popular-articles">
      <app-most-popular-articles></app-most-popular-articles>
    </div>

    <div class="advertisement">
      <app-advertisement></app-advertisement>
    </div>

    <div class="subscription">
      <app-subscription></app-subscription>
    </div>

  </div>


</div>
